@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is platform used in video rental stores for managing movies, customers and theirs rentals</p>
    <p><a href="~/movies" class="btn btn-primary btn-lg">Check movies &raquo;</a></p>
</div>


